body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}

a {
    color: #666;
}

fieldset {
    margin: 1em;
}

legend {
    font-weight: bold;
}

.login label {
    display: block;
    padding-bottom: 0.5em;
}

.login input {
    margin-bottom: 1em;
}

.login input[type="submit"] {
    display: block;
    margin-top: 1em;
}

.profile,
.profile .detail {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0.25em;
}

.topBrands,
.topBrands .detail {
    display: none;
}

.topBrandList li {
    border: 1px solid #efefef;
    display: block;
    float: left;
    font-size: 10px;
    letter-spacing: 0;
    height: 10em;
    margin: 0.5em;
    text-align: center;
    width: 10em;
    box-shadow: 1px 0px 1px #ccc;
}

.topBrandList img {
    display: block;
    height: auto;
    width: 8em;
}