body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}

a {
    color: #666;
}

fieldset {
    margin: 1em;
}

legend {
    font-weight: bold;
}

.login label {
    display: block;
    padding-bottom: 0.5em;
}

.login input {
    margin-bottom: 1em;
}

.login input[type="submit"] {
    display: block;
    margin-top: 1em;
}

.profile, .profile .detail,
.topBrands, .topBrands .detail,
.recoBrands, .recoBrands .detail,
.feed, .myFeedList,
#refreshFeed {
    display: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0.25em;
}

.topBrandList li,
.recoList li,
.myFeedList li {
    border: 1px solid #ccc;
    display: block;
    float: left;
    font-size: 10px;
    letter-spacing: 0;
    height: 11.5em;
    margin: 0.5em;
    text-align: center;
    width: 10em;
    box-shadow: 0 1px 3px #eee;
}

.topBrandList img,
.recoList img,
.myFeedList img {
    display: block;
    height: auto;
    margin: 0 1em 0 1em;
    width: 8em;
}

.myFeedList li {
    height: 20em;
    position: relative;
}

.myFeedList img {
    margin: 0.2em auto 0.5em auto;
    width: 9.5em;
}

.brandContainer {
    display: table-cell;
    height: 9em;
    text-align: center;
    vertical-align: middle;
}

.myFeedList .brandContainer img {
    margin-left: 0.25em;
}

.opinion {
    position: absolute;
    bottom: 0.5em;
    width: 90%;
    padding: 0 5% 0 5%;
    margin: 0.9em auto 0 auto;
}

.dislikeArticle, .likeArticle,
.dislikeBrand, .likeBrand {
    background: url('../img/icons.png') 44px 20px;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    width: 22px;
}

.likeArticle,
.likeBrand {
    float:right;
    background-position: 0 0;
}

.liked {
    background-position: 22px 0;
}

.infoBox,
.infoHeadline {
    padding: 1em;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #bbb;
    margin-top: 0;
}

.zalButton {
    background-color: #fb9521;
    background-image: -moz-linear-gradient(center top , #fe9a20 0px, #ee8024 100%);
    color: #fff;
    cursor: pointer;
    display:block;
    font-weight: 700;
    height: 34px;
    line-height: 18px;
    min-width: 60px;
    padding: 8px 10px;
    text-align: center;
    border: 0 none;
    margin: 1em 1em 1em 0;
    outline: 0 none;
    vertical-align: baseline;
}

.infoHeadline {
    display: block;
    font-size: 16px;
    background-color: #999;
    margin-bottom: 0;
}

/* Mobile Portrait */

fieldset {
    margin: 1%;
}
@media only screen and (max-width: 414px) and (orientation: portrait) {
    .topBrandList li,
    .recoList li,
    .myFeedList li {
        border: 1px solid #ccc;
        display: block;
        float: left;
        font-size: 10px;
        letter-spacing: 0;
        height: 11.5em;
        margin: 5%;
        text-align: center;
        width: 37%;
        box-shadow: 0 1px 3px #eee;
    }

    .myFeedList li {
        height: 20em;
        position: relative;
    }
}